<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ca1d69d-ae51-4b0e-b2f7-c9c7106a21f5/resourcegroups/InivitationApplication20240215161222ResourceGroup/providers/Microsoft.Web/sites/InivitationApplication20240215161222</ResourceId>
    <ResourceGroup>InivitationApplication20240215161222ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/4ca1d69d-ae51-4b0e-b2f7-c9c7106a21f5/resourceGroups/InivitationApplication20240215161222ResourceGroup/providers/Microsoft.ApiManagement/service/InivitationApplicationapi/apis/InivitationApplication</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://inivitationapplication20240215161222.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2d49f0a0-0330-4c69-9b18-09e414e55760</ProjectGuid>
    <MSDeployServiceURL>inivitationapplication20240215161222.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InivitationApplication20240215161222</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$InivitationApplication20240215161222</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>