<body>
  <div class="circle-card">27th April 2024</div>
  <div class="grid grid-main">
    <div class="col left-side">
    </div>

    <div class="col right-side scrollable-content">
      <div class="text-center">
        <div class="card-header m-2">
          <div class="wedding-text">
            <div class="padding-bottom">Michael & </div>
            <div class="padding-bottom">Shannon's</div>
            <div>Wedding</div>
          </div>
          <img class="MrAndMrsImage" src="assets/mrAndMrs.png" />

          <div class="celebrateText mt-3">
            <p style="color: #575757; line-height: 25px;">
              We are overjoyed to announce that we are tying the knot and would be
              honoured to have you join us in celebrating our special day! As we
              embark on this beautiful journey together, surrounded by our loved
              ones, we cannot imagine it without you. You have been an important
              part of our lives, and your presence on our wedding day would mean the
              world to us. Your support, love, and friendship have enriched our
              lives, and we would be delighted to share this unforgettable moment
              with you.
            </p>
          </div>
        </div>

        <div class="heart-line-container mb-5">
          <hr class="heart-line">
          <div class="heart"><i class="fas fa-heart"></i></div>
        </div>

        <h1>Schedule:</h1>
        <img class="wedding-shcedule" src="assets/WeddingSchedule.jpeg" />

        <h1>Location:</h1>
        <img class="wedding-shcedule" src="assets/weddingVenueMap.png" />
        <div>Accommodation available @ Plaas Kombuis - 016 364 4144 / 082 742 1128</div>

        <div class="heart-line-container mb-5">
          <hr class="heart-line">
          <div class="heart"><i class="fas fa-heart"></i></div>
        </div>

        <div class="accept-delcine p-3">
          <div class="wedding-accept-text">
            <h2>Will you be attending the wedding?</h2>
          </div>
          <div class="wedding-accept-text">Please RSVP by the 31st of March 2024</div>
          <div>
            <button class="acceptStyle w-2" [ngStyle]="isAccepted? {'background-color': '#cbc2a3'}: undefined"
              mat-raised-button color="basic" type="submit" (click)="handleAcceptClick()">
              Accept
            </button>
            <button class="acceptStyle w-2" [ngStyle]="isDeclined? {'background-color': '#cbc2a3'}: undefined"
              mat-raised-button color="basic" type="submit" (click)="handleDeclineClick()">
              Decline
            </button>
          </div>
        </div>

        <div *ngIf="isClicked">
          <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()">
            <div class="form-container">
              <div class="align-items-center w-full">
                <div>
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                    <mat-error *ngIf="invitationForm.get('email')?.hasError('required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="invitationForm.get('email')?.hasError('email')">
                      Email not valid
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="flex-container">
                  <mat-form-field appearance="outline" class="w-full flex-item">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName" />
                    <mat-error *ngIf="invitationForm.get('firstName')?.hasError('required')">
                      First Name is required
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-full flex-item">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName" />
                    <mat-error *ngIf="invitationForm.get('lastName')?.hasError('required')">
                      Last Name is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngIf="isAccepted">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Song Request</mat-label>
                    <input matInput type="text" formControlName="songRequest" placeholder="Artist - Song Name" />
                  </mat-form-field>
                </div>
              </div>

              <div *ngIf="isAccepted" class="monetary-text">
                <div>With all that we have. We've been truly blessed.</div>
                <div>Your presence and prayers are all that we request</div>
                <div>But if you desire to give nonetheless.</div>
                <div>Monetary gift is one we suggest.</div>
              </div>

              <button mat-raised-button style="background-color: #cbc2a3;" type="submit"
                class="w-8 mb-4 mt-2">RSVP</button>
            </div>
          </form>

        </div>
      </div>
      <!-- Buffer zone. When accessing on phone, buttons didnt display -->
      <div style="padding-bottom: 75px;"></div>
    </div>
  </div>
</body>

<p-toast></p-toast>