<div class="circle-card">
  M & S
</div>

<div class="grid grid-main">
  <div class="col-12 invitation-header">
    Michael & Shannon's Wedding Invitation
  </div>
  <div class="col left-side">

  </div>
  <div class="col right-side scrollable-content">
    <div style="padding: 15px;" class="text-center">
      <input pInputText type="text" class="p-inputtext-sm" placeholder="Small"/>
      <input pInputText type="text" placeholder="Normal" />
      <input pInputText type="text" class="p-inputtext-lg" placeholder="Large" />
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <h4>test</h4>
      <!-- <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()">
        <div class="grid fluid">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-error *ngIf="invitationForm.get('email')?.hasError('required') ">
                Email is required
              </mat-error>
              <mat-error *ngIf="invitationForm.get('email')?.hasError('email') ">
                Email not valid
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName">
              <mat-error *ngIf="invitationForm.get('firstName')?.hasError('required') ">
                First Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
              <mat-error *ngIf="invitationForm.get('lastName')?.hasError('required') ">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Song Request</mat-label>
              <input matInput type="text" formControlName="songRequest">
            </mat-form-field>
          </div>

          <div class="col">
            <mat-checkbox formControlName="isAccepted">Is Accepted</mat-checkbox>
          </div>
        </div>

        <button mat-raised-button color="primary" type="submit" >Submit</button>
      </form> -->

    </div>
  </div>
</div>