<div class="background">
  <div class="flower-field"></div>
  <mat-card class="card">
    <div class="flex flex-column">
      <h3>primeng example</h3>
      <input type="text" pInputText [(ngModel)]="value" class="mb-4"/>
        <h3>material example</h3>
        <mat-form-field appearance="outline" class="custom-underline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" [(ngModel)]="value" name="name" class="m-10">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-underline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" [(ngModel)]="value" name="name" class="m-10">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-underline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" [(ngModel)]="value" name="name" class="m-10">
        </mat-form-field>

      </div>
      <button mat-raised-button color="primary" (click)="test()" class="ml-6">Submit</button>
  </mat-card>
</div>
