.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://i.pinimg.com/originals/8f/57/3b/8f573ba3c42383e4a546ef8640cbd8da.gif') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
  }

  .background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.10); /* Black with 50% opacity */
    z-index: 0;
  }  
  
  .card {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
  }